@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 150rem;
  margin: 0 auto;
  background: white;
  padding: 0;
}

/*Typography*/
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  padding-bottom: 0.6em;
  line-height: 1.6rem;
}

h1 {
  font-weight: 650px;
  font-size: 2rem;
}

h2 {
  font-weight: 550px;
  font-size: 1.6rem;
}

h3 {
  font-weight: 400px;
  font-size: 0.1 0.5rem;
}

h4 {
  font-weight: normal;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: space-around;
  display: flex;
  height: 6rem;
  background: #35424a;
  border-bottom: 2.5px solid #e8491d;
  position: relative;
  justify-content: flex-start;
  color: #fff;
}
header .user-nav__user {
  margin-top: 0.1em;
  position: absolute;
  top: 0;
}
header .user-nav__user-photo {
  margin-top: 0.7em;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
}
header .head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  margin-top: 1em;
  font-size: 0.7rem;
  font-weight: bold;
  color: #f1f1f1;
}
header .head .head_list_one {
  margin-left: 2em;
}
header .head .head_list_one span {
  margin-left: 0.4em;
  text-transform: uppercase;
  color: #e8491d;
}
header .head .head_list_two .fa-envelope-square {
  color: #e8491d;
  margin-right: 0.6em;
  margin-top: 0.6em;
  font-size: 1.3em;
}
header .head .head_list_three .fa-phone-square-alt {
  color: #e8491d;
  margin-right: 0.6em;
  margin-top: 0.6em;
  font-size: 1.3em;
}
header .menu-btn {
  position: absolute;
  z-index: 3;
  right: 0.5rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}
header .menu-btn .menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 25px;
  height: 2px;
  background: #f1f1f1;
  transition: all 0.5s ease-in-out;
}
header .menu-btn .menu-btn_burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 25px;
  height: 2px;
  background: #f1f1f1;
  transition: all 0.5s ease-in-out;
}
header .menu-btn .menu-btn_burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 18px;
  height: 2px;
  background: #f1f1f1;
  transition: all 0.5s ease-in-out;
}
header .menu-btn .menu-btn_burger.open {
  transform: rotate(360deg);
  background: transparent;
}
header .menu-btn .menu-btn_burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
header .menu-btn .menu-btn_burger.open::after {
  width: 25px;
  transform: rotate(-45deg) translate(3px, -7px);
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.98;
  height: 100vh;
  z-index: 2;
  visibility: hidden;
  background: #e8491d;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
aside.open {
  visibility: visible;
  transform: translateY(0);
}
aside nav {
  margin-top: 4em;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
aside nav.open {
  transform: translateY(0);
}
aside nav:last-child ul li a {
  color: black;
}
aside nav:last-child ul li a:hover {
  color: blue;
}
aside .dropdown {
  padding-left: 1em;
  position: relative;
  margin-top: 2em;
  width: 100%;
  height: 50px;
  padding-top: 1em;
}
aside .dropdown .active {
  background: #35424a;
}
aside .dropdown:hover .dropdown-content {
  background: #35424a;
  visibility: visible;
  position: absolute;
  background: #f1f1f1;
  padding: 0.5em;
  border-radius: 2px;
  border: 2px solid #35424a;
  left: 6rem;
  top: 1.3rem;
  z-index: 3;
  text-align: center;
}
aside .dropdown:hover .dropdown-content:not(.one) ul li:not(:last-child) {
  border-bottom: 1px solid #35424a;
}
aside .dropdown:hover {
  background: #35424a;
}
aside .dropdown button {
  border: none;
  color: white;
  background: none;
  outline: none;
  cursor: pointer;
}
aside .dropdown button:focus {
  outline: none;
}
aside .dropdown .dropdown-content {
  position: absolute;
  visibility: hidden;
  background: #f1f1f1;
  padding: 0.5em;
  border-radius: 2px;
  border: 2px solid #35424a;
  left: 6.5rem;
  top: 1.3rem;
  z-index: 1;
  text-align: center;
}
aside .dropdown .dropdown-content.opn {
  visibility: visible;
}
aside .dropdown .dropdown-content ul {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  width: 200px;
}
aside .dropdown .dropdown-content ul li {
  padding: 0.5em;
}

.section .intro {
  height: 50vh;
  background: url(../img7.jpg) center top;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid #35424a;
}
.section .intro .para {
  font-size: 0.8rem;
  width: 90%;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section .greetings {
  background-color: #f1f1f1;
  height: 8vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size: 1rem;
  border-bottom: 3px solid #e8491d;
  font-family: "ubuntu", san-serif;
  font-weight: bold;
}
.section .education {
  background: white;
  padding: 2em;
}
.section .education .heading > h2 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.3em;
  color: #35424a;
}
.section .education .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.section .education .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.section .education .tab button:hover {
  background-color: #ddd;
}
.section .education .tab button.active {
  background-color: #ccc;
}
.section .education .tabcontent {
  display: none;
  padding: 6px 12px;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
}
.section .professional {
  background: white;
  padding: 2em;
}
.section .professional .heading > h2 {
  font-size: 1.2em;
  margin-bottom: 0.3em;
  color: #35424a;
}
.section .professional .accordion {
  background-color: #eee;
  color: #35424a;
  cursor: pointer;
  padding: 1.3em;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.section .professional .accordion .accordion:after {
  content: "➕";
  font-size: 13px;
  color: #35424a;
  float: right;
  margin-left: 5px;
}
.section .professional .accordion .active:after {
  content: "➖";
}
.section .professional .accordion:hover {
  background-color: #ccc;
}
.section .professional .accordion:hover.active {
  background-color: #ccc;
}
.section .professional .accordion .active {
  background-color: #ccc;
}
.section .professional .pro {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.section .professional .pro > * {
  padding: 0.3em 1.5em;
}
.section .professional .pro ul li {
  padding: 0.3em 0;
}
.section .gratitude {
  background: #e8491d;
  text-align: center;
  border-top: 3px solid #35424a;
  padding: 2em;
  margin-top: 5em;
}
.section .gratitude:last-child {
  padding-bottom: 0;
}
.section .gratitude h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 0.3em;
  color: #f1f1f1;
}
.section .gratitude .btn {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background: #35424a;
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.section .gratitude .btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
}
.section .gratitude .btn__visible {
  padding: 0.5rem 5rem;
}
.section .gratitude .btn__invisible {
  position: absolute;
  padding: 0.5rem 0;
  left: 0;
  top: -100%;
}
.section .gratitude .btn:hover {
  background: #35424a;
}
.section .gratitude .btn:hover .btn__visible {
  transform: translateY(100%);
}
.section .gratitude .btn:hover .btn__invisible {
  top: 0;
}
.section .gratitude .btn:focus {
  outline: none;
}
.section .gratitude .legal {
  margin-top: 7em;
  color: #f1f1f1;
  font-size: 0.8rem;
}

@media only screen and (min-width: 640px) {
  header {
    height: 5rem;
    z-index: 1;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .user-nav__user {
    margin-top: 0;
    position: absolute;
    top: 19px;
    left: 5px;
  }
  header .user-nav__user-photo {
    margin-top: 0.7em;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
  }
  header .head {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 0;
    color: #f1f1f1;
    font-size: 0.8rem;
    padding: 0;
  }
  header .head .head_list_one {
    margin-top: 0;
    margin-right: auto;
    margin-left: 3em;
  }
  header .head .head_list_one span {
    margin-left: 0.4em;
    text-transform: uppercase;
    color: #e8491d;
  }
  header .head .head_list_two .fa-envelope-square {
    color: #e8491d;
    margin-right: 0.6em;
    margin-top: 0.6em;
    font-size: 1.3em;
  }
  header .head .head_list_three {
    margin-left: auto;
  }
  header .head .head_list_three .fa-phone-square-alt {
    color: #e8491d;
    margin-right: 0.6em;
    margin-top: 0.6em;
    font-size: 1.3em;
  }
  header .menu-btn {
    visibility: hidden;
  }

  aside {
    position: absolute;
    top: 5rem;
    left: 0;
    opacity: 1;
    height: 8vh;
    z-index: 0;
    visibility: visible;
    background: #e8491d;
    transform: none;
    transition: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  aside nav {
    flex: 0 0 100%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: none;
    transition: none;
    justify-content: space-around;
  }
  aside nav:last-child {
    padding-left: 0;
  }
  aside nav:last-child ul li a {
    color: black;
  }
  aside nav:last-child ul li a:hover {
    color: blue;
  }
  aside nav .dropdown {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 0;
    width: 16.5%;
    height: 100%;
    padding: 0;
  }
  aside nav .dropdown:hover .dropdown-content {
    background: #35424a;
    visibility: visible;
    position: absolute;
    background: #f1f1f1;
    padding: 0.5em;
    border-radius: 2px;
    border: 2px solid #35424a;
    left: 0rem;
    top: 2.8rem;
    z-index: 3;
    text-align: center;
  }
  aside nav .dropdown:hover .dropdown-content:not(.one) ul li:not(:last-child) {
    border-bottom: 1px solid #35424a;
  }
  aside nav .dropdown button {
    border: none;
    color: white;
    background: none;
    outline: none;
  }
  aside nav .dropdown button:focus {
    outline: none;
  }
  aside nav .dropdown .dropdown-content {
    position: absolute;
    visibility: hidden;
    background: #f1f1f1;
    padding: 0.5em;
    border-radius: 2px;
    border: 2px solid #35424a;
    left: 0rem;
    top: 3rem;
    z-index: 3;
    text-align: center;
  }
  aside nav .dropdown .dropdown-content ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    width: 190px;
  }
  aside nav .dropdown .dropdown-content ul.last {
    width: 80px;
  }
  aside nav .dropdown .dropdown-content ul li {
    padding: 0.5em;
  }

  .section .intro {
    margin-top: 3.2em;
    height: 50vh;
  }
  .section .intro .intrd {
    font-size: 2.6rem;
  }
  .section .intro .para {
    font-size: 0.8rem;
    width: 90%;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .section .greetings {
    height: 9vh;
  }
  .section .gratitude {
    margin-top: 3em;
  }
}
@media only screen and (min-width: 790px) {
  header .head {
    font-size: 0.9rem;
  }

  .section .intro .intrd {
    font-size: 2.7rem;
  }
  .section .intro .para {
    font-size: 0.9rem;
    width: 80%;
  }

  .education {
    width: 90%;
    margin-left: 3em;
  }

  .professional {
    width: 90%;
    margin-left: 3em;
  }
}
@media only screen and (min-width: 890px) {
  .section .intro {
    height: 60vh;
  }
  .section .intro .intrd {
    font-size: 2.8rem;
  }
  .section .intro .para {
    font-size: 1rem;
    width: 75%;
    font-weight: 400;
  }

  .education {
    width: 90%;
    margin-left: 4em;
  }

  .professional {
    width: 90%;
    margin-left: 4em;
  }
}
@media only screen and (min-width: 1150px) {
  header head {
    font-size: 1rem;
  }

  .intro {
    height: 60vh;
  }
  .intro .para {
    font-size: 1.1rem;
    width: 75%;
  }

  .section .intro {
    height: 70vh;
  }
  .section .intro .intrd {
    font-size: 2.8rem;
  }
  .section .intro .para {
    font-size: 1rem;
    width: 75%;
    font-weight: 400;
  }

  .education {
    margin-left: 4.4em;
  }

  .professional {
    margin-left: 4.4em;
  }

  aside nav .dropdown {
    width: 15%;
    height: 100%;
    padding: 0;
  }
  aside nav .dropdown .dropdown-content ul.last {
    width: 150px;
  }
}
@media only screen and (min-width: 1600px) {
  body {
    background: url(../body1.jpg) center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .container {
    width: 80%;
    position: relative;
    height: 80%;
    border: 2px solid #e8491d;
  }
}

/*# sourceMappingURL=style.css.map */
