:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

/**,
*::before,
*::after {
  box-sizing: inherit; }*/

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

  .container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }
.banner {
  font-size: 1.4rem;
  height: 6rem;
  background-color: #fff;
  border-bottom: var(--line);
  justify-content: space-between;
  align-items: center; 
  text-decoration: none;
  display: flex;
  flex-direction: row;
 /* padding: 1rem;*/
  list-style: none;
}
  @media only screen and (max-width: 31.25em) {
    .banner {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem; } }

/*.head{
  padding: 10rem;*/
}

 .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.navbar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column;
       }}
  /*height: 100vh;
  width: 250px;*/
.dropdown {
  font-size: 1.4rem;
/*  list-style: none;*/
  margin-top: 3.5rem;
  overflow: hidden;
   }
  @media only screen and (max-width: 56.25em) {
    .dropdowns {
      display: flex;
      margin: 0; } }
}
button{
  position: relative;
}
/*.dropdown {
  position: relative;
}*/
.dropbtn {
    position: relative; 
    cursor: pointer;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    color: white;
  }
.dropdown-content{
display: none;
position: relative;
width: 150px;  
margin-left: 30px;
/*border: 2px solid red;*/
box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
box-sizing: border-box;
/*list-style: none;*/
text-decoration: none; 
background-color: white;
text-align: center;
padding: 10px
}
.dropdown-content > a {
  text-decoration: none;
  /*list-style: circle;*/
  display: inline;
}
/*
.dropdown-content a: hover {
}*/

.show{
  display: inline;
}
    /*.dropbtn:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .dropbtn:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .dropbtn {
        flex: 1; } }*/
  /*.dropbtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .dropbtn:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .dropbtn:active::before {
    background-color: var(--color-primary-light); }*/
  

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

main{
  background-color: #fff;
  flex: 1;
  }
/*.content {
  float: left;
  width: 400px;
  height: 400px;
}*/

#education {
  float: left;
}